nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toDoImage {
  height: 70px;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: underline;
}
